<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AirBnB Clone v4</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../static/scripts/1-hbnb.js"></script>
</head>
<body>
	<header>
		<!-- Header content goes here -->
	</header>
	<nav>
		<!-- Navigation content goes here -->
	</nav>
	<section class="filters">
		<h2>Filters</h2>
	<ul>
		<!-- Amenity filters will be dynamically added here -->
	</ul>
	</section>
	<section class="places">
		<!-- Place cards will be dynamically added here -->
	</section>
	<footer>
		<!-- Footer content goes here -->
	</footer>
</body>
</html>
