<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AirBnB Clone v4</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/4-common.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/3-header.css" />
	<script src="../static/scripts/2-hbnb.js"></script>
</head>
<body>
	<header>
		<!-- Header content goes here -->
		<div id="api_status" class="available"></div> <!-- New div for API status -->
	</header>
	<!-- Other sections of the HTML content -->
</body>
</html>
