<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AirBnB Clone v4</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/4-common.css" />
	<link rel="stylesheet" type="text/css" href="../static/styles/3-header.css" />
	<script src="../static/scripts/3-hbnb.js"></script>
</head>
<body>
	<header>
		<!-- Header content goes here -->
	</header>
	<!-- Other sections of the HTML content -->
	<section class="places">
		<!-- Place cards will be dynamically added here -->
	</section>
</body>
</html>
